small {
  display: block;
  margin: 0 auto;
}

.footnote {
  color: #676767;
  font-size: 12px;
  text-align: center;
}

.footnote a {
  color: #676767;
  text-decoration: none;
  font-size: 12px;
}

.footnote a:hover {
  color: rgb(198, 176, 213);
}
