.main-temp {
  text-align: center;
  padding-top: 15px;
  margin-top: -10px;
}

.main-temp strong {
  font-size: 64px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}

.main-temp .units {
  position: relative;
  font-size: 12px;
  top: -30px;
  left: 2px;
}
