input[type="search"] {
  border: none;
  box-shadow: none;
  height: 30px;
  outline: 0;
  width: 160px;
  margin: 5px 20px;
  background-color: rgb(226 229 222);
  display: inline;
}

input[type="submit"] {
  box-shadow: none;
  margin-top: 3px;
  color: rgb(198, 176, 213);
  font-weight: 600;
}

button {
  margin-top: 5px;
}

i {
  font-size: 18px;
  font-weight: 600;
  color: rgb(198, 176, 213);
}

::placeholder {
  color: rgb(198, 176, 213);
  font-weight: 600;
}
